<header>
<a href="/"><h2>night.ly</h2></a>
<table style="float:right; margin-top:-150px;">
  <thead>
    <th>
      <% if session["access_token"] %>
        <a href="/logout"><p>logout.</p></a>
      </th>
      <th>
        <a href="/profile/1"><p>profile.</p></a>
      </th>
    <% end %>
  </thead>
</table>
</header>

<br/>
<br/>
<br/>

<body>
<% if @user_one["NYTE"] %>
<div id="one">
  <article>New York Times: Events.</article>
  <ul>
    <% @simplified_events.shuffle.first(5).each do |event| %>
    <li>
      <p><%= event["event_name"] %></p>
      <p><%= event["web_description"] %></p>
      <p><%= event["venue_name"] %></p>
      <p><%= event["neighborhood"] %></p>
      <p><%= event["street_address"] %></p>
      <p><%= event["cross_street"] %></p>
      <p><%= event["price"] %></p>
    </li>
    <% end %>
  </ul>
</div>
<% end %>

<% if @user_one["weather"] %>
<div id="two">
  <article>Weather.</article>
  <% @hourly_temperature["hourly_forecast"].first(5).each do |hour| %>
    <p>
      <img src="<%= hour["icon_url"] %>">
      When it's <%= time = hour["FCTTIME"]["civil"] %> it will be <%= temp = hour["temp"]["english"] %> degrees farenheit.
    </p>
  <% end %>
</div>
<% end %>


<% if @user_one["yelp"] %>
<div id="three">
  <article>Yelp.</article>
  <ul>
    <% @parsed_ny_yelp["businesses"].shuffle.first(5).each do |spot| %>
      <li>
        <p><%= spot["name"] %></p>
        <img src ="<%= spot["rating_img_url"] %>">
        <br/>
        <img src ="<%= spot["image_url"] %>">
        <p><%= spot["snippet_text"] %></p>
        <p><%= spot["display_phone"] %></p>
          <% spot["categories"].each do |category| %>
            <p><%= category[0] %></p>
      </li>
  </ul>
        <% end %>
          <% end %>
</div>
<% end %>

<% if @user_one["NYTMR"] %>

<div id="four">
  <article>New York Times: Movie Reviews</article>
  <ul>
  <% @simplified_reviews.shuffle.first(5).each do |movie| %>
  <li>
    <p>
  <%= movie["display_title"] %>
  <br/>
  <%= movie["headline"] %>
  <br/>
  <img src ="<%= movie["multimedia"]["resource"]["src"] %>">
  <br/>
  <%= movie["summary_short"] %>
  <br/>
  <%= movie["link"]["url"] %>
  </p>
</li>
<% end %>
</ul>
</div>
<% end %>

<% if @user_one["twitter"] %>
<div id="five">
  <article>Twitter.</article>
  <ul>
<% @tweets.each do |tweet| %>
<li>
<p><%= tweet[:content] %></p>
</li>
<% end %>
</ul>
</div>
<% end %>

<% if @user_one["instagram"] %>

<div id="six">
  <article>Instagram.</article>
<ul>
  <li>
<%= @ig_flicks %>
  </li>
</ul>
</div>
<% end %>
</body>
<footer>
  <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://night.ly" data-text="Night.ly just planned an amazing night for me! Check it out!" data-size="large" data-hashtags="nightly">Tweet</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
    </script>
</footer>

