<div>
  <ul>
    <% @simplified_events.shuffle.first(5).each do |event| %>
    <li>
      <p><%= event["event_name"] %></p>
      <p><%= event["web_description"] %></p>
      <p><%= event["venue_name"] %></p>
      <p><%= event["neighborhood"] %></p>
      <p><%= event["street_address"] %></p>
      <p><%= event["cross_street"] %></p>
      <p><%= event["price"] %></p>
    </li>
    <% end %>
  </ul>
</div>

<div>

<% @hourly_temperature["hourly_forecast"].first(6).each do |hour| %>
  <p>
  When it's <%= time = hour["FCTTIME"]["civil"] %> it will be <%= temp = hour["temp"]["english"] %> degrees farenheit.
  </p>
<% end %>
</div>

<div>
  <ul>
  <% @parsed_ny_yelp["businesses"].shuffle.first(5).each do |spot| %>
  <li>
    <p><%= spot["name"] %></p>
    <p><%= spot["snippet_text"] %></p>
    <p><%= spot["display_phone"] %></p>
  </li>
  </ul>
<% end %>
</div>

<footer>
<a href="https://twitter.com/share" class="twitter-share-button" data-url="http://night.ly" data-text="Night.ly just planned an amazing night for me! Check it out!" data-size="large" data-hashtags="nightly">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>


