<h2><%= session["username"] %> </h2>
<p> aka </p>
<h3> <%= @user["nickname"] %> </h3>
<img src="<%= @user["user_img"] %>">
<div id="profile">
<ul>
  <li>

                <p>email:</p>           <p class="bigger"><%= @user["email"] %></p>
                <br/>
                <p>city:</p>            <p class="bigger"><%= @user["user_city"] %></p>
                <br/>
                <p>state:</p>           <p class="bigger"><%= @user["user_state"] %></p>
                <br/>
                <p>user drinks?</p>     <p class="bigger"><%= @user["user_drinks"] %></p>
                <br/>
                <p>fandango?</p>        <p class="bigger"><%= @user["fandango"] %></p>
                <br/>
                <p>yelp?</p>            <p class="bigger"><%= @user["yelp"] %></p>
                <br/>
                <p>NYTE?</p>            <p class="bigger"><%= @user["NYTE"] %></p>
                <br/>
                <p>NYTMR?</p>           <p class="bigger"><%= @user["NYTMR"] %></p>
                <br/>
                <p>twitter?</p>         <p class="bigger"><%= @user["twitter"] %></p>
                <br/>
                <p>instagram?</p>       <p class="bigger"><%= @user["instagram"] %></p>
                <br/>
                <p>weather?</p>         <p class="bigger"><%= @user["weather"] %></p>
  </li>
</ul>
</div>
<button><a href="/profile/edit"> edit profile.</a></button>
<button><a href="/feeds">return to feeds.</a></button>
