<h2><%= session["username"] %> </h2>
<p> aka </p>
<h3> <%= @user["nickname"] %> </h3>
<img src="<%= @user["user_img"] %>">
<div id="profile">
<ul>
  <li>
    <p>
                user email:     <%= @user["email"] %>
                <br/>
                user city:      <%= @user["user_city"] %>
                <br/>
                user state:     <%= @user["user_state"] %>
                <br/>
                user drinks?    <%= @user["user_drinks"] %>
                <br/>
                fandango?       <%= @user["fandango"] %>
                <br/>
                yelp?           <%= @user["yelp"] %>
                <br/>
                NYTE?           <%= @user["NYTE"] %>
                <br/>
                NYTMR?           <%= @user["NYTMR"] %>
                <br/>
                twitter?        <%= @user["twitter"] %>
                <br/>
                instagram?      <%= @user["instagram"] %>
                <br/>
                weather?         <%= @user["weather"] %>
    </p>
  </li>
</ul>
</div>
<button><a href="/profile/edit"> edit profile.</a></button>
<button><a href="/feeds">return to feeds.</a></button>
